################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/njmpop/FileContentIndex
*.sqlite
*.json
